


.Landing {
  font-family: 'Arial', sans-serif; /* Update font if necessary */
}

.hero-section {
  background: linear-gradient(to right, #6e7f90, #010b26); /* Beautiful gradient */
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw; 
  /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.hero-content h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.5rem;
  margin: 20px 0;
}

.btn-primary {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3a7ab8;
}

.about-section {
  background: #f9f9f9;
  color: #333;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px;
}

.skills-section {
  background: #fff;
  padding: 50px 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the skills cards */
}

.skill-card {
  background: #eaeaea;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.skill-card:hover {
  transform: scale(1.05);
}

.projects-section {
  background: #f2f2f2;
  padding: 50px 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the project cards */
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App {
  padding: 50px 20px;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
